/* gemePage.css */
.container {
  background-image: url('https://images.unsplash.com/photo-1715845608783-e9b51eafc3f9?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
}
.category-column {
  display: flex; /* Изменено на flex */
  /* width: auto; */
  column-gap: 80px;
  padding-right: 20px;
}

.category-collumn-inner {
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  color: #0fb6a2;

  text-align: center; /* Центрирование текста */
}

.category-column h2 {
  margin: 0;
  font-size: 1.2em;
  border-bottom: 1px solid #0fb6a2;
  padding-bottom: 5px;
}

.questions-row {
  display: flex; /* Изменено на flex */
  flex-wrap: wrap;
  gap: 20px; /* Расстояние между элементами */
  /* justify-content: flex-start;
  align-items: flex-start;  */
}

.category-row {
  display: flex; /* Изменено на flex */
  flex-direction: column;
  margin: 10px;
}

.quiz-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background-color: #af8484;
  border: 1px solid #3f616d;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-card:hover {
  background-color: #e0e0e0;
  transform: translateY(-5px);
}

.quiz-card.correct {
  background-color: #d4edda; /* Зеленый для правильного ответа */
  color: #155724;
}

.quiz-card.incorrect {
  background-color: #f8d7da; /* Красный для неправильного ответа */
  color: #721c24;
}

.quiz-card.answered {
  background-color: #d1ecf1; /* Голубой для выбранного вопроса */
  color: #0c5460;
}

p {
  text-align: center;
  color: #f0f0f0;
}

h3 {
  margin: 0;
  font-size: 1.5em;
}
